#menu * {
  border: solid 1px #aaa;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 200px;
}

#menu dd {
  background-color: #eee;
  border: solid 1px #aaa;
  display: none; /*メニューを隠しておく*/
  text-align: center;
}


